{% extends 'base.html' %}

{% block content %} 
<h1>Inicio</h1>
<p>Bienvenido a la aplicación de encriptación y desencriptación de texto.</p>
<p>Utiliza el menú para navegar a las diferentes funciones.</p>

<script>
window.addEventListener("pageshow", function (event) {
    if (event.persisted || performance.navigation.type === 2) {
        // Si la sesión sigue activa, invalidarla
        fetch('/invalidate/')
          .then(() => {
              window.location.href = '/signin/';
          });
    }
});
</script>

{% endblock %}
